.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 255, 255, 0.418);
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px;
  color: aliceblue;
  font-size: 20px;
}

.increment {
  background-color: green;
  margin-right: 5px;
}

.decrement {
  background-color: red;
  margin-left: 5px;
}

.counter {
  border: solid grey 1px;
  height: 50px;
  width: 50px;
  display: inline-block;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
